@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #111;
	color: white;
	font-family: "Poppins", sans-serif;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 1rem;
}
.search-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.search-wrapper label {
	font-size: 2rem;
	font-weight: 600;
}
#search {
	max-width: 30em;
	height: 2.5rem;
	background-color: #222;
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 0.5em 1em;
	font-size: 1rem;
	color: white;
	transition: all 200ms ease-in-out;
}
#search:focus {
	background-color: #333;
}
.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1em;
	margin-top: 3em;
}

.card {
	background-color: #333;
	border-radius: 8px;
	padding: 1em;
	display: grid;
	gap: 0.25rem;
}
.name {
	font-size: 1.5rem;
	font-weight: 500;
}
.card p {
	font-size: 0.8rem;
	color: #aaa;
}
.hide {
	display: none;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 2em;
	}
}

.bg-gray-950 {
    background-color: #282525;
  }
  
  .bg-gradient-red-green {
    background: linear-gradient(45deg, #4cad9e, #b34b4b);
    color: rgb(23, 20, 20);
  }
  
  .img-overlay {
    width: 100%;
    height: 100%;
  }
  .img-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #dc4425);
    opacity: 0.3;
  }
  
  body {
    min-height: 100vh;
    background: rgba(141, 137, 137, 0.8);
  }
  .card-text {
      padding: 10px;
  }
  .card-title {
    padding: 10px;
}
.container {
    border-radius: 5px;
}

/* Form submit button */
button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 72px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #D83C3C;
border-radius: 3px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
 button:hover{     
    background: #e54040;
}   
   
 button:active,
button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
/* button:before { /* left arrow
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
} */
 
/* button:hover:before{
    border-right-color: #e54040;
} */
 
button:focus:before,
 button:active:before{
        border-right-color: #b8afaf;
}      
 
 button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    
